[submodule "pack/plugins/start/goyo"]
	path = pack/plugins/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible
[submodule "pack/plugins/start/sleuth"]
	path = pack/plugins/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vinegar"]
	path = pack/plugins/start/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/plugins/start/sneak"]
	path = pack/plugins/start/sneak
	url = https://github.com/justinmk/vim-sneak
